* {
  box-sizing: border-box;
  font-family: cursive;
  margin: 0;
  padding: 0;
  margin-bottom: 0%;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  /* background-color: rgb(136, 26, 26); */
  background-color: #f7d544;
}

.img {
  box-shadow: rgba(1, 0, 0, 0.8);
  max-width: 100%;
  height: auto;
}

#overlay-win,
#overlay-lose {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  overflow: hidden;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
}

#overlay_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  height: 100px;
  width: 200px;
  border: 2px solid #f7d544;
  border-radius: 15px;
  font: bold;
  font-size: 30px;
  background-color: #f7d544;
  margin: 30px;
  box-shadow: black;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f7d544;
  color: white;
}

#game_top {
  font-size: 60px;
}

.main__flex > .portrait__grid > .img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.nav__flex {
  display: flex;
  justify-content: space-evenly;
  background-color: #f7d544;
  color: white;
  height: 10vh;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

.main__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  /* overflow: hidden; */
}

.portrait__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto 30vh;
  grid-gap: 10px;
  object-fit: contain;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  max-width: calc(4 * (100px + 100px));
  perspective: 1000px;
  overflow: hidden;
}

.buttons__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f7d544;
}

.button {
  border: none;
  text-decoration: none;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.buttons__container > .number {
  text-align: left;
  border-radius: 10px;
  border: solid 2px white;
  margin-top: 10px;
  padding-left: 5px;
  width: 17em;
}

.buttons__container > .score__heading {
  text-align: left;
  border-radius: 10px;
  border: solid 2px white;
  margin-top: 10px;
  padding-left: 5px;
  width: 17em;
}

.buttons__container > .moves__heading {
  text-align: left;
  border-radius: 10px;
  border: solid 2px white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  width: 17em;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: auto;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  box-shadow: rgba(0.2, 0.2, 0.4, 0.8);
  object-fit: cover;
}

.flip-card:active {
  transition: transform 0.8s;
}

.flip-card.flip {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  color: black;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.flip-card-front {
  transform: rotateY(180deg);
}

.footer-flex {
  background: url(Final-wood-panel-low-new-svg.svg) bottom center no-repeat;
  background-size: cover;
  position: fixed;
  height: 20vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.score-board {
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
  margin-top: 1.5em;
  color: white;
  max-height: 70px;
}
@media screen and (min-width: 320px) {
  #game_top {
    font-size: 25px;
  }
  .main__flex {
    display: flex;
    min-width: 100%;
    flex-wrap: wrap;
    min-height: 70%;
  }

  .nav__flex {
    display: flex;
    justify-content: space-evenly;
    background-color: #f7d544;
    color: white;
  }

  .portrait__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
    grid-row-gap: 35px;
    grid-column-gap: 20px;
    min-height: 70vh;
    background-color: #f7d544;

    object-fit: cover;
    max-width: calc(4 * (70px + 10px));
    margin-top: 55px;
  }

  .img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }

  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
  }

  #overlay_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    height: 50px;
    width: 200px;
    border: 2px solid #f7d544;
    border-radius: 15px;
    font: bold;
    font-size: 30px;
    background-color: #f7d544;
    margin: 30px;
    box-shadow: black;
  }

  .score-board {
    font-size: 12px;
  }

  .footer-flex {
    background: url(Final-wood-panel-low-new-svg.svg) bottom center no-repeat;
    background-size: cover;
    height: 20vh;
  }
}

@media screen and (min-width: 375px) {
  #game_top {
    font-size: 25px;
  }
  .main__flex {
    display: flex;
    min-width: 100%;
    flex-wrap: wrap;
    min-height: 70%;
  }

  .nav__flex {
    display: flex;
    justify-content: space-evenly;
    background-color: #f7d544;
    color: white;
  }

  .portrait__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(65px, 1fr));
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    min-height: 70vh;
    background-color: #f7d544;

    object-fit: cover;
    max-width: calc(4 * (70px + 10px));
    margin-top: 30px;
  }

  .img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }

  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
  }

  #overlay_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    height: 50px;
    width: 200px;
    border: 2px solid #f7d544;
    border-radius: 15px;
    font: bold;
    font-size: 30px;
    background-color: #f7d544;
    margin: 30px;
    box-shadow: black;
  }

  .score-board {
    font-size: 12px;
  }

  .footer-flex {
    background: url(Final-wood-panel-low-new-svg.svg) bottom center no-repeat;
    background-size: cover;
    height: 20vh;
  }
}

@media only screen and (min-width: 425px) {
  .main__flex {
    min-width: 100%;
  }
  .main__flex {
    flex-wrap: wrap;
    min-height: fit-content;
    padding-bottom: 130px;
  }
  .portrait__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(65px, 1fr));
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    min-height: 70vh;
    background-color: #f7d544;
    object-fit: cover;
    max-width: calc(4 * (70px + 10px));
    margin-top: 30px;
  }

  #overlay-win,
  #overlay-lose {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
  }

  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
  }

  #overlay_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  button {
    height: 50px;
    width: 200px;
    border: 2px solid #f7d544;
    border-radius: 15px;
    font: bold;
    font-size: 30px;
    background-color: #f7d544;
    margin: 30px;
    box-shadow: black;
  }
  #game_top {
    font-size: 25px;
  }
  .nav__flex {
    display: flex;
    justify-content: space-evenly;
    background-color: #f7d544;
    color: white;
  }

  .score-board {
    font-size: 15px;
  }

  .footer-flex {
    display: flex;
    background: url(Final-wood-panel-low-new-svg.svg) bottom center no-repeat;
    background-size: cover;
    height: 20vh;
  }

  .footer-flex > .img {
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  #game_top {
    font-size: 40px;
  }

  .portrait__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(90px, 1fr));
    object-fit: contain;
    background-color: #f7d544;
    text-align: center;
    max-width: calc(4 * (90px + 20px));
    margin-bottom: auto;
    height: auto;
  }

  #overlay_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
  }

  button {
    height: 100px;
    width: 200px;
    border: 2px solid #f7d544;
    border-radius: 15px;
    font: bold;
    font-size: 30px;
    background-color: #f7d544;
    margin: 30px;
    box-shadow: black;
  }

  .main__flex {
    flex-wrap: wrap;
  }

  .footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
  }

  .score-board {
    font-size: 20px;
  }
 
}

@media screen and (min-width: 1024px) {
  #game_top {
    font-size: 60px;
  }

  .portrait__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    background-color: #f7d544;
    text-align: center;
    max-width: calc(4 * (140px + 20px));
  }

  #overlay_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  button {
    height: 100px;
    width: 200px;
    border: 2px solid #f7d544;
    border-radius: 15px;
    font: bold;
    font-size: 30px;
    background-color: #f7d544;
    margin: 30px;
    box-shadow: black;
  }

  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 70px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
  }

  .score-board {
    font-size: 20px;
  }

  .footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
  }
}

@media screen and (min-width: 2560px) {
  #game_top {
    font-size: 60px;
  }
  .portrait__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    background-color: #f7d544;
    text-align: center;
    max-width: calc(4 * (140px + 20px));
  }

  #overlay_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  button {
    height: 100px;
    width: 200px;
    border: 2px solid #f7d544;
    border-radius: 15px;
    font: bold;
    font-size: 30px;
    background-color: #f7d544;
    margin: 30px;
    box-shadow: black;
  }

  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 90px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
  }

  .footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
  }

  .score-board {
    font-size: 25px;
  }
}
