* {
  box-sizing: border-box;
  font-family: "Cinzel Decorative", cursive;
  font-size: large;
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 0%;
  background-size: cover;
  overflow: hidden;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

html {
  font-size: 100%;
  font-weight: 300;
  line-height: 2;
}

.nav__flex {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(226, 48, 48);
  color:white;
  padding-top: 10px;
  height: 5vh;

}

.main__flex {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  background-color: red;
  height: 50vh;
  justify-content: center;
  flex-direction: row;
}

.buttons__container {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  background-color: red;


}

 .play__button {
  text-align: center;
  border-radius: 10px;
  border: solid 2px white;
  background-color:rgb(226, 48, 48);
  color: white;
  margin-left: 10px;
  width: 5em;
  margin-top: 0px;
}
.buttons__container >.number{
  text-align: left;
  border-radius: 10px;
  border: solid 2px white;
  background-color: white;
  color: red;
  margin-top: 10px;
  padding-left: 5px;
  width: 17em;

}

.buttons__container > .score__heading {
  text-align: left;
  border-radius: 10px;
  border: solid 2px white;
  background-color:red;
  color: red;
  margin-top: 10px;
  padding-left: 5px;
  width: 17em;
}

.buttons__container > .moves__heading {
  text-align: left;
  border-radius: 10px;
  border: solid 2px white;
  background-color: white;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  width: 17em;
}

.portrait__grid {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr))
  padding: 30%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  object-fit: contain;
  max-width: 23em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5 em;

  overflow: hidden;
  background-color: red;
  padding: 1.5em 1em;
  text-align: center;
}
.main__flex > .portrait__grid > .img {
  height: 1fr;
  width: 1fr;
  padding: 10px;
  object-fit: cover;
}

.main__flex > .portrait__grid > .Grandfather__1 {
  padding: 10%;
  box-shadow: 0 0 40px 0px black;
}

.main__flex > .portrait__grid > .Grandfather__2 {
  padding: 10%;
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Grandmother__1 {
  padding: 10%;
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Grandmother__2 {
  padding: 10%;
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Mother__1 {
  padding: 10%;
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Mother__2 {
  padding: 10%;
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Father__1 {
  padding: 10%;
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Father__2 {
  padding: 10%;
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Child__1 {
  padding: 10%;
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Child__2 {
  padding: 10%;
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Counterfeit {
  padding: 10%;
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .empty__frame {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Dog__1 {
  padding: 10%;
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Dog__2 {
  padding: 10%;
  box-shadow: 0 0 40px 0px black;
}


.footer-flex {
  height: 23vh;
  background: url(Final-wood-panel.svg) bottom center no-repeat;
  background-size: cover;
}

.footer-flex > .img {
  height: 25vh;
}

@media screen and (min-width: 375px) {

  .portrait__grid {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(56px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(56px, 1fr))
    padding: 30%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    object-fit: contain;
    max-width: 23em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5 em;
  
    overflow: hidden;
    background-color: red;
    padding: 1.5em 1em;
    text-align: center;
  }
  .main__flex > .portrait__grid > .img {
    height: 1fr;
    width: 1fr;
    padding: 10px;
    object-fit: cover;
  }
  
  .main__flex > .portrait__grid > .Grandfather__1 {
    padding: 10%;
    box-shadow: 0 0 40px 0px black;
  }
  
  .main__flex > .portrait__grid > .Grandfather__2 {
    padding: 10%;
    box-shadow: 0 0 40px 0px black;
  }
  
  main > .portrait__grid > .Grandmother__1 {
    padding: 10%;
    box-shadow: 0 0 40px 0px black;
  }
  
  main > .portrait__grid > .Grandmother__2 {
    padding: 10%;
    box-shadow: 0 0 40px 0px black;
  }
  
  main > .portrait__grid > .Mother__1 {
    padding: 10%;
    box-shadow: 0 0 40px 0px black;
  }
  
  main > .portrait__grid > .Mother__2 {
    padding: 10%;
    box-shadow: 0 0 40px 0px black;
  }
  
  main > .portrait__grid > .Father__1 {
    padding: 10%;
    box-shadow: 0 0 40px 0px black;
  }
  
  main > .portrait__grid > .Father__2 {
    padding: 10%;
    box-shadow: 0 0 40px 0px black;
  }
  
  main > .portrait__grid > .Child__1 {
    padding: 10%;
    box-shadow: 0 0 40px 0px black;
  }
  
  main > .portrait__grid > .Child__2 {
    padding: 10%;
    box-shadow: 0 0 40px 0px black;
  }
  
  main > .portrait__grid > .Counterfeit {
    padding: 10%;
    box-shadow: 0 0 40px 0px black;
  }
  
  main > .portrait__grid > .empty__frame {
   
    box-shadow: 0 0 40px 0px black;
  }
  
  main > .portrait__grid > .Dog__1 {
    padding: 10%;
    box-shadow: 0 0 40px 0px black;
  }
  
  main > .portrait__grid > .Dog__2 {
    padding: 10%;
    box-shadow: 0 0 40px 0px black;
  }
  
}
  
  .footer-flex {
    height: 23vh;
    background: url(Final-wood-panel.svg) bottom center no-repeat;
    background-size: cover;
  }
  
  .footer-flex > .img {
    height: 25vh;
  }
  
  @media screen and (min-width: 425px) {

    .portrait__grid {
      display: grid;
      grid-gap: 25px;
      grid-template-columns: repeat(auto-fit, minmax(56px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(56px, 1fr))
      padding: 30%;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      object-fit: contain;
      max-width: 23em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.5 em;
    
      overflow: hidden;
      background-color: red;
      padding: 1.5em 1em;
      text-align: center;
    }
    .main__flex > .portrait__grid > .img {
      height: 1fr;
      width: 1fr;
      padding: 10px;
      object-fit: cover;
    }
    
    .main__flex > .portrait__grid > .Grandfather__1 {
      padding: 10%;
      box-shadow: 0 0 40px 0px black;
    }
    
    .main__flex > .portrait__grid > .Grandfather__2 {
      padding: 10%;
      box-shadow: 0 0 40px 0px black;
    }
    
    main > .portrait__grid > .Grandmother__1 {
      padding: 10%;
      box-shadow: 0 0 40px 0px black;
    }
    
    main > .portrait__grid > .Grandmother__2 {
      padding: 10%;
      box-shadow: 0 0 40px 0px black;
    }
    
    main > .portrait__grid > .Mother__1 {
      padding: 10%;
      box-shadow: 0 0 40px 0px black;
    }
    
    main > .portrait__grid > .Mother__2 {
      padding: 10%;
      box-shadow: 0 0 40px 0px black;
    }
    
    main > .portrait__grid > .Father__1 {
      padding: 10%;
      box-shadow: 0 0 40px 0px black;
    }
    
    main > .portrait__grid > .Father__2 {
      padding: 10%;
      box-shadow: 0 0 40px 0px black;
    }
    
    main > .portrait__grid > .Child__1 {
      padding: 10%;
      box-shadow: 0 0 40px 0px black;
    }
    
    main > .portrait__grid > .Child__2 {
      padding: 10%;
      box-shadow: 0 0 40px 0px black;
    }
    
    main > .portrait__grid > .Counterfeit {
      padding: 10%;
      box-shadow: 0 0 40px 0px black;
    }
    
    main > .portrait__grid > .empty__frame {
     
      box-shadow: 0 0 40px 0px black;
    }
    
    main > .portrait__grid > .Dog__1 {
      padding: 10%;
      box-shadow: 0 0 40px 0px black;
    }
    
    main > .portrait__grid > .Dog__2 {
      padding: 10%;
      box-shadow: 0 0 40px 0px black;
    }
    
    
    .footer-flex {
      height: 23vh;
      background: url(Final-wood-panel.svg) bottom center no-repeat;
      background-size: cover;
    }
    
    .footer-flex > .img {
      height: 25vh;
    }


  }





}


@media screen and (min-width: 768px) {

  .play__button {
    text-align: center;
    border-radius: 10px;
    border: solid 2px white;
    background-color:rgb(226, 48, 48);
    color: white;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 5em;
    margin-top: 0px;
  }

.portrait__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  padding: 30%;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5 em;
  object-fit: contain;
  overflow: hidden;
  background-color: red;
  text-align: center;

  
}
.main__flex > .portrait__grid > .img {
  height: 1fr;
  width: 1fr;
  object-fit: cover;
  flex-wrap: wrap;
}

.main__flex > .portrait__grid > .Grandfather__1 {

  box-shadow: 0 0 40px 0px black;
    object-fit: cover;

}

.main__flex > .portrait__grid > .Grandfather__1 >.Grandmother_1__portrait {
   
  
    

}

.main__flex > .portrait__grid > .Grandfather__2 {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Grandmother__1 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Grandmother__2 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Mother__1 {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Mother__2 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Father__1 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Father__2 {

  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Child__1 {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Child__2 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Counterfeit {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .empty__frame {
 
  box-shadow: 0 0 40px 0px black;
}
main > .portrait__grid > .Dog__1 {

  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Dog__2 {
 
  box-shadow: 0 0 40px 0px black;
}


}



@media screen and (min-width: 1024px){
.portrait__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(85px, 1fr))
  padding: 30%;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5 em;
  object-fit: contain;
  overflow: hidden;
  background-color: red;
  text-align: center;

  
}
.main__flex > .portrait__grid > .img {
  height: 1fr;
  width: 1fr;
  object-fit: cover;
  flex-wrap: wrap;
}

.main__flex > .portrait__grid > .Grandfather__1 {

  box-shadow: 0 0 40px 0px black;

}

.main__flex > .portrait__grid > .Grandfather__2 {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Grandmother__1 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Grandmother__2 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Mother__1 {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Mother__2 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Father__1 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Father__2 {

  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Child__1 {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Child__2 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Counterfeit {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .empty__frame {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Dog__1 {

  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Dog__2 {
 
  box-shadow: 0 0 40px 0px black;
}

.footer-flex {
  height: 21vh;
  background: url(Final-wood-panel.svg) bottom center no-repeat;
  background-size: cover;
}

.footer-flex > .img {
  height: 25vh;
}
}






@media screen and (min-width: 1440px) {
  
  .portrait__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  padding: 20%;
  grid-column-gap: 50px;
  grid-row-gap:10px;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5 em;
  object-fit: contain;
  overflow: hidden;
  background-color: red;
  text-align: center;

  
}
.main__flex > .portrait__grid > .img {
  height: 1fr;
  width: 1fr;
  object-fit: cover;
  flex-wrap: wrap;
}

.main__flex > .portrait__grid > .Grandfather__1 {

  box-shadow: 0 0 40px 0px black;

}

.main__flex > .portrait__grid > .Grandfather__2 {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Grandmother__1 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Grandmother__2 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Mother__1 {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Mother__2 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Father__1 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Father__2 {

  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Child__1 {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Child__2 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Counterfeit {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .empty__frame {
 
  box-shadow: 0 0 40px 0px black;
}
main > .portrait__grid > .Dog__1 {

  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Dog__2 {
 
  box-shadow: 0 0 40px 0px black;
}


}



@media screen and (min-width: 2560px) {
  
  .portrait__grid {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr))
  grid-column-gap: 50px;
  grid-row-gap:10px;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.1 em;
  object-fit: contain;
  overflow: hidden;
  background-color: red;
  text-align: center;

  
}
.main__flex > .portrait__grid > .img {
  height: 1fr;
  width: 1fr;
  object-fit: cover;
  flex-wrap: wrap;
}

.main__flex > .portrait__grid > .Grandfather__1 {

  box-shadow: 0 0 40px 0px black;

}

.main__flex > .portrait__grid > .Grandfather__2 {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Grandmother__1 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Grandmother__2 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Mother__1 {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Mother__2 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Father__1 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Father__2 {

  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Child__1 {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Child__2 {
  
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Counterfeit {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .empty__frame {
 
  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Dog__1 {

  box-shadow: 0 0 40px 0px black;
}

main > .portrait__grid > .Dog__2 {
 
  box-shadow: 0 0 40px 0px black;
}


.buttons__container > .play__button {
  text-align: center;
  border-radius: 10px;
  border: solid 2px white;
  background-color:rgb(226, 48, 48);
  color: white;
  margin-bottom: 2px;
  margin-left: 10px;
  width: 5em;
  margin-top: 0px;
}

.buttons__container > .score__heading {
  text-align: left;
  border-radius: 10px;
  border: solid 2px white;
  background-color: white;
  color: red;
  margin-top: 10px;
  padding-left: 5px;
  width: 17em;
}

.buttons__container > .moves__heading {
  text-align: left;
  border-radius: 10px;
  border: solid 2px white;
  background-color: white;
  color: red;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 5px;
  width: 17em;
}
}


